keras==2.12.0
matplotlib==3.7.1
mplcursors==0.5.2
numpy==1.23.5
opencv_python==4.7.0.72
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
scikit_learn==1.2.2
streamlit==1.22.0
tensorflow==2.12.0
tensorflow_intel==2.12.0
beautifulsoup4==4.12.2
pickle-mixin==1.0.2
pickleshare==0.7.5